<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applets.jijin.mapper.JijinMairuMapper">
    
    <resultMap type="JijinMairu" id="JijinMairuResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="jingzhi"    column="jingzhi"    />
        <result property="number"    column="number"    />
        <result property="amount"    column="amount"    />
        <result property="charge"    column="charge"    />
        <result property="updateTime"    column="update_time"    />
        <result property="credateTime"    column="credate_time"    />
    </resultMap>

    <sql id="selectJijinMairuVo">
        select id, code, name, jingzhi, number, amount, charge, update_time, credate_time from jijin_mairu
    </sql>

    <select id="selectJijinMairuList" parameterType="JijinMairu" resultMap="JijinMairuResult">
        <include refid="selectJijinMairuVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="jingzhi != null  and jingzhi != ''"> and jingzhi = #{jingzhi}</if>
            <if test="number != null  and number != ''"> and number = #{number}</if>
            <if test="amount != null  and amount != ''"> and amount = #{amount}</if>
            <if test="charge != null  and charge != ''"> and charge = #{charge}</if>
            <if test="credateTime != null "> and credate_time = #{credateTime}</if>
        </where>
    </select>
    
    <select id="selectJijinMairuById" parameterType="Long" resultMap="JijinMairuResult">
        <include refid="selectJijinMairuVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJijinMairu" parameterType="JijinMairu" useGeneratedKeys="true" keyProperty="id">
        insert into jijin_mairu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="jingzhi != null">jingzhi,</if>
            <if test="number != null">number,</if>
            <if test="amount != null">amount,</if>
            <if test="charge != null">charge,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="credateTime != null">credate_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="jingzhi != null">#{jingzhi},</if>
            <if test="number != null">#{number},</if>
            <if test="amount != null">#{amount},</if>
            <if test="charge != null">#{charge},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="credateTime != null">#{credateTime},</if>
         </trim>
    </insert>

    <update id="updateJijinMairu" parameterType="JijinMairu">
        update jijin_mairu
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="jingzhi != null">jingzhi = #{jingzhi},</if>
            <if test="number != null">number = #{number},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="charge != null">charge = #{charge},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="credateTime != null">credate_time = #{credateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJijinMairuById" parameterType="Long">
        delete from jijin_mairu where id = #{id}
    </delete>

    <delete id="deleteJijinMairuByIds" parameterType="String">
        delete from jijin_mairu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>