<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applets.jijin.mapper.JijinShouyiMapper">
    
    <resultMap type="JijinShouyi" id="JijinShouyiResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="pingtai"    column="pingtai"    />
        <result property="zuhe"    column="zuhe"    />
        <result property="jingzhi"    column="jingzhi"    />
        <result property="zhangfu"    column="zhangfu"    />
        <result property="cost"    column="cost"    />
        <result property="fene"    column="fene"    />
        <result property="jine"    column="jine"    />
        <result property="yingkui"    column="yingkui"    />
        <result property="shouyilv"    column="shouyilv"    />
        <result property="date"    column="date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJijinShouyiVo">
        select id, code, name, pingtai, zuhe, jingzhi, zhangfu, cost, fene, jine, yingkui, shouyilv, date, create_by, create_time, update_by, update_time from jijin_shouyi
    </sql>

    <select id="selectJijinShouyiList" parameterType="JijinShouyi" resultMap="JijinShouyiResult">
        <include refid="selectJijinShouyiVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="pingtai != null  and pingtai != ''"> and pingtai = #{pingtai}</if>
            <if test="zuhe != null  and zuhe != ''"> and zuhe = #{zuhe}</if>
            <if test="jingzhi != null  and jingzhi != ''"> and jingzhi = #{jingzhi}</if>
            <if test="zhangfu != null  and zhangfu != ''"> and zhangfu = #{zhangfu}</if>
            <if test="cost != null  and cost != ''"> and cost = #{cost}</if>
            <if test="fene != null  and fene != ''"> and fene = #{fene}</if>
            <if test="jine != null  and jine != ''"> and jine = #{jine}</if>
            <if test="yingkui != null  and yingkui != ''"> and yingkui = #{yingkui}</if>
            <if test="shouyilv != null  and shouyilv != ''"> and shouyilv = #{shouyilv}</if>
            <if test="date != null "> and date = #{date}</if>
        </where>
    </select>
    
    <select id="selectJijinShouyiById" parameterType="Long" resultMap="JijinShouyiResult">
        <include refid="selectJijinShouyiVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJijinShouyi" parameterType="JijinShouyi" useGeneratedKeys="true" keyProperty="id">
        insert into jijin_shouyi
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="pingtai != null">pingtai,</if>
            <if test="zuhe != null">zuhe,</if>
            <if test="jingzhi != null">jingzhi,</if>
            <if test="zhangfu != null">zhangfu,</if>
            <if test="cost != null">cost,</if>
            <if test="fene != null">fene,</if>
            <if test="jine != null">jine,</if>
            <if test="yingkui != null">yingkui,</if>
            <if test="shouyilv != null">shouyilv,</if>
            <if test="date != null">date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="pingtai != null">#{pingtai},</if>
            <if test="zuhe != null">#{zuhe},</if>
            <if test="jingzhi != null">#{jingzhi},</if>
            <if test="zhangfu != null">#{zhangfu},</if>
            <if test="cost != null">#{cost},</if>
            <if test="fene != null">#{fene},</if>
            <if test="jine != null">#{jine},</if>
            <if test="yingkui != null">#{yingkui},</if>
            <if test="shouyilv != null">#{shouyilv},</if>
            <if test="date != null">#{date},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJijinShouyi" parameterType="JijinShouyi">
        update jijin_shouyi
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="pingtai != null">pingtai = #{pingtai},</if>
            <if test="zuhe != null">zuhe = #{zuhe},</if>
            <if test="jingzhi != null">jingzhi = #{jingzhi},</if>
            <if test="zhangfu != null">zhangfu = #{zhangfu},</if>
            <if test="cost != null">cost = #{cost},</if>
            <if test="fene != null">fene = #{fene},</if>
            <if test="jine != null">jine = #{jine},</if>
            <if test="yingkui != null">yingkui = #{yingkui},</if>
            <if test="shouyilv != null">shouyilv = #{shouyilv},</if>
            <if test="date != null">date = #{date},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJijinShouyiById" parameterType="Long">
        delete from jijin_shouyi where id = #{id}
    </delete>

    <delete id="deleteJijinShouyiByIds" parameterType="String">
        delete from jijin_shouyi where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>