<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applets.system.mapper.JijinChiyouMapper">
    
    <resultMap type="JijinChiyou" id="JijinChiyouResult">
        <result property="daima"    column="daima"    />
        <result property="mingcheng"    column="mingcheng"    />
        <result property="guzhi"    column="guzhi"    />
        <result property="jingzhi"    column="jingzhi"    />
    </resultMap>

    <sql id="selectJijinChiyouVo">
        select daima, mingcheng, guzhi, jingzhi from jijin_chiyou
    </sql>

    <select id="selectJijinChiyouList" parameterType="JijinChiyou" resultMap="JijinChiyouResult">
        <include refid="selectJijinChiyouVo"/>
        <where>  
            <if test="daima != null  and daima != ''"> and daima = #{daima}</if>
            <if test="mingcheng != null  and mingcheng != ''"> and mingcheng = #{mingcheng}</if>
            <if test="guzhi != null  and guzhi != ''"> and guzhi = #{guzhi}</if>
            <if test="jingzhi != null  and jingzhi != ''"> and jingzhi = #{jingzhi}</if>
        </where>
    </select>
    
    <select id="selectJijinChiyouById" parameterType="String" resultMap="JijinChiyouResult">
        <include refid="selectJijinChiyouVo"/>
        where daima = #{daima}
    </select>
        
    <insert id="insertJijinChiyou" parameterType="JijinChiyou">
        insert into jijin_chiyou
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="daima != null">daima,</if>
            <if test="mingcheng != null">mingcheng,</if>
            <if test="guzhi != null">guzhi,</if>
            <if test="jingzhi != null">jingzhi,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="daima != null">#{daima},</if>
            <if test="mingcheng != null">#{mingcheng},</if>
            <if test="guzhi != null">#{guzhi},</if>
            <if test="jingzhi != null">#{jingzhi},</if>
         </trim>
    </insert>

    <update id="updateJijinChiyou" parameterType="JijinChiyou">
        update jijin_chiyou
        <trim prefix="SET" suffixOverrides=",">
            <if test="mingcheng != null">mingcheng = #{mingcheng},</if>
            <if test="guzhi != null">guzhi = #{guzhi},</if>
            <if test="jingzhi != null">jingzhi = #{jingzhi},</if>
        </trim>
        where daima = #{daima}
    </update>

    <delete id="deleteJijinChiyouById" parameterType="String">
        delete from jijin_chiyou where daima = #{daima}
    </delete>

    <delete id="deleteJijinChiyouByIds" parameterType="String">
        delete from jijin_chiyou where daima in 
        <foreach item="daima" collection="array" open="(" separator="," close=")">
            #{daima}
        </foreach>
    </delete>

</mapper>